$tablet: 768px;

.sidebar {
    &-size {
        height: 100%;
        width: 47%;
        @media screen and (max-width: $tablet) {
            visibility: hidden;
        }
    }
    &-normal-background {
        background: linear-gradient(181.71deg, rgba(246, 232, 234, 0.24) -5%, rgba(249, 240, 230, 0.24) 37.12%, rgba(244, 158, 109, 0.24) 143.7%);
    }
    &-second-layer {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background-image: url('../../assets/images/Group-normal.svg');
    }
    &-position {
        position: absolute;
        top: 0;
    }

    &-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 300px;
        @media screen and (max-width: $tablet) {
            visibility: hidden !important;
        }
    }
}